@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

#root {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 30px;
  align-items: center;  
  
  background-color: salmon;
}
